.card-item{
flex: 0 0 300px;
margin-left: 20px;
height: 300px;
border: 1px solid orange;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.card-item:first-child{
margin-left: 0;
}
.card-item:hover .purchses-button{
    display: block;
}
.card-item:hover .card-details{
    color: white;
    background-color: orange;
}
.card-details{
    border-top: 1px solid orange;
    height: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-details h3 ,.card-details p {
    margin: 0;
}
.card-details p {
    font-size: 14px;
}

.card-image{
    height: 70%;
    width: 100%;
}
.purchses-button{
    /* background-color: rgba(0, 0, 0, 0.404) ; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: none;

}
.purchses-button button{
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 16px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%);

}
.purchses-button button:hover{
    background: none;
    color:orange;
    border: 1px solid orange;
}